.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
*.class
sandbox/src/main/java/ru/stqa/pft/sandbox/Rectangle.java
sandbox/src/main/java/ru/stqa/pft/sandbox/MyFirstProgram.java
sandbox/out/production/classes/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/src/main/java/ru/stqa/pft/sandbox/MyFirstProgram.java
sandbox/src/main/java/ru/stqa/pft/sandbox/MyFirstProgram.java
.idea/codeStyles/codeStyleConfig.xml
*.log
*.png
